name: OpenWRT-Master
on:
  push:
    branches: [ master ]
  schedule:
    - cron:  '0 4 * * */2'
      
jobs:
  build-image:
    runs-on: ubuntu-latest
    container:
      image: openwrtorg/imagebuilder:x86-64-master
    steps:
    - name: checkout latest master
      shell: bash
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        sudo chown 1000:1000 .
        rm -rf ..?* .[!.]* *
        git clone https://git.openwrt.org/openwrt/openwrt.git
        git clone https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
    - name: build
      shell: bash
      run: |
        cd openwrt
        cp ../openwrt-apu/.config-apu2-docker .config
        #./scripts/feeds update -a
        #./scripts/feeds install -a -p luci
        #./scripts/feeds install -a -p packages
        #./scripts/feeds install -a -p routing
        #./scripts/feeds install -a -p telephony
        #make -j`nproc`
    - name: deploy
      shell: bash
      run: |
        cd openwrt-apu
        pages_branch="gh-pages"
        git checkout "${pages_branch}"
        #cp -R ../openwrt/bin/* .
        touch test
        mkdir -p test_dir
        touch test_dir/test2
        git add .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git diff-index --quiet HEAD || git commit -m "$(date '+%d/%m/%Y %H:%M:%S') nightly build"
        git push
